@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.hero {
  background-image: url("../public/assets/testFinal.png");
  background-size: cover;
}
.sec2Wallpaper {
  background-image: url("../public/assets/sec2Wallpaper.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}
.sec3Wallpaper-aboutUs {
  background-image: url("../public/assets/sec3Wallpaper-aboutUs.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}

.slider-container {
  transition: transform 0.5s ease;
}

.slider-item {
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: opacity 0.5s ease, visibility 0.5s;
}

.slider-item.active {
  opacity: 1;
  visibility: visible;
}
